streamlit      # [2026 release notes - Streamlit Docs](https://docs.streamlit.io/develop/quick-reference/release-notes/2026)
scikit-learn    # [Milestones · scikit-learn/scikit-learn](https://github.com/scikit-learn/scikit-learn/milestones)
pandas
matplotlib
seaborn
numpy
plotly
